<a href="https://colab.research.google.com/github/dev-mdirfan/-Flipkart/blob/master/python-cwh/1-Old-playlist-129-videos/03_Variables_Datatypes_and_Typecasting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3. Variables, datatypes and typecasting

## Type Function :
type(variable name) : It returns type of the variable

In [ ]:
var1 = "Welcome"
var2 = "To Delhi"
var3 = 18
var4 = 22.7
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'int'>
<class 'float'>

## Concatenation of String :

- "If two string are added called as concatenation"
- We can add strings
- We can add string and number together with typecasting

In [ ]:
print(var1 + var2)     # Concatenation

print(var3 + var4)

print(var2 + var3)     # Gives an Error

WelcomeTo Delhi
40.7

TypeError: ignored

In [ ]:
print(var2 + str(var3))

To Delhi18

## Typecasting :

- To convert string to integer use int() function
  - str()
  - int()
  - float()
  - list()
  - dict()
  - tuple()

In [ ]:
var5 = "54"
var6 = "32"
print(int(var5)+int(var6))

86

### To print many times string

In [ ]:
print(10*"Hello Irfan\n")

Hello Irfan
Hello Irfan
Hello Irfan
Hello Irfan
Hello Irfan
Hello Irfan
Hello Irfan
Hello Irfan
Hello Irfan
Hello Irfan

In [ ]:
# Tis will Multiply the number 100 times
print(100*(int(var5)+int(var6)))

8600

In [ ]:
# This will repeat the string 10 times
print(10*str(int(var5)+int(var6)))

86868686868686868686

## Input Function :

input() function is used to take input from user

In [ ]:
print("Enter your number:")
var7 = input()                  # Default type of input() function is string
print("You Entered:",var7)
# print("After 10 adding:",var7 + 10)    # Error str and int can't added
print("Correct way to add 10:",int(var7)+10)

Enter your number:
23
You Entered: 23
Correct way to add 10: 33

In [ ]:
# Another way to get input
a = int(input("Enter a\n"))
b = int(input("Enter b\n"))

Enter a
2
Enter b
3

## Quiz 1:
Write a program to add two numbers are taken by user

In [ ]:
n1 = input("Enter first number: ")
n2 = input("Enter second number: ")
print("Sum of these two numbers is:",int(n1)+int(n2))

Enter first number: 12
Enter second number: 13
Sum of these two numbers is: 25